* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(120deg, #f86464 0%, #52d4ad 100%);
}

.flex-container {
  height: 100vh;
  width: 85vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#title {
  font-size: 7rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5rem 0;
  margin: 1rem 0;
  max-width: 55vw;
  color: rgb(31, 53, 46);
  text-align: center;
}

.memory-game {
  border: 3px #52d4ad solid;
  border-radius: 5%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  width: 50vw;
  height: 70vh;
}

.memory-card {
  width: 23%;
  height: 23%;
  border: 0.2rem solid rgb(31, 53, 46);
  border-radius: 15%;
  list-style-type: none;
  font-size: 10rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  padding: auto;
  padding-top: 5rem;
  margin: auto;
  color: rgb(31, 53, 46);
  text-align: center;
  box-shadow: 10px 5px 20px 0 rgba(46, 61, 73, 0.5);
  cursor: pointer;
}

.memory-card .open {
  transform: rotateY(0);
  cursor: default;
}

.memory-card .match {
  background: #f0e43f;
  cursor: default;
}

.score-panel {
  width: 25vw;
  font-size: 2rem;
  color: rgb(31, 53, 46);
  margin: 5px 0;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

#stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 4px 0 0;
}

#stars li {
  list-style: none;
  display: inline-block;
}

.restart {
  float: right;
  cursor: pointer;
}

.fa-repeat {
  font-size: 2rem;
  color: rgb(31, 53, 46);
}

@media only screen and (max-width: 1050px) {
  .flex-container {
    height: 100vh;
    width: 100vw;
  }

  #title {
    font-size: 6rem;
    padding: 5rem 0;
    margin: 1rem 0;
    max-width: 75vw;
  }

  .score-panel {
    width: 70vw;
    font-size: 3rem;
    margin: 1rem 0;
    padding: 2rem 0;
  }

  .memory-game {
    width: 90vw;
    height: 60vh;
  }

  .memory-card {
    font-size: 9rem;
    font-weight: 600;
    padding-top: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  .flex-container {
    height: 100vh;
    width: 100vw;
  }

  #title {
    font-size: 4rem;
    padding: 1rem 0;
    margin: 1rem 0;
    max-width: 75vw;
  }

  .memory-game {
    width: 85vw;
    height: 70vh;
  }

  .memory-card {
    font-size: 4rem;
    font-weight: 600;
    padding-top: 1rem;
  }
  .score-panel {
    width: 85vw;
    font-size: 2rem;
    margin: 1rem 0;
    padding: 1rem 0;
  }
}
